<section>
  <div class="frontPage">
    <div style="font-family:Montserrat, sans-serif;font-size: 24px;width: 100%; background-color: #035096; color: white;padding-left: 5px">
      <p>This is a quick statement of Park-It. It'll probably have the logo, as well as brief instructions for users to follow to find a parking spot easily.</p>
    </div>
    <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}">
      <ng-map style="height:79vh;width:100%;" center="41,-87" zoom="3"></ng-map>
    </div>
  </div>
  <div class="rightHome ">
    <div style="height:100px"></div>
    <h1 style="text-align:center;">Find Parking Spot</h1>
    <div class="form-group form-group-lg">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter keywords">
    </div>
    <div class='form-group form-group-lg'>
      <div ng-app="g" class='input-group date' id='datetimepicker1'>
        <span class="input-group-addon">
          <button type="button" class="btn btn-default" ng-click=vm.dateTimePicker()>
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </span>
        <input type='text' class="form-control" placeholder="Enter start date and time" />
      </div>
    </div>
    <div class='form-group form-group-lg'>
      <div ng-app="f" class='input-group date' id='datetimepicker2'>
        <span class="input-group-addon">
          <button type="button" class="btn btn-default" ng-click=vm.dateTimePicker()>
            <span class="glyphicon glyphicon-calendar"></span>
          </button>
        </span>
        <input type='text' class="form-control" placeholder="Enter end date and time" />
      </div>
    </div>
    <a class="btn btn-primary btn-md" href="http://meanjs.org" target="_blank">Find Spot</a>
  </div>
</section>
