<section>
  <div class="page-header">
    <h1>Parking Spot</h1>
  </div>
  <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{vm.googleMapsUrl}}">
    <ng-map center="41,-87" zoom="3"></ng-map>
  </div>
  <h1>Booking</h1>
  <div class="col-md-6">
    <h3>Location </h3>
    <div class="form-group form-group-lg">
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter keywords">
    </div>
  </div>
  <div class="col-md-6">
    <h3>Start time</h3>
    <div class="input-group input-daterange">
      <input type="time" class="form-control" id="StartTime" ng-model="vm.spot.mon_start_time" placeholder="8">
      <div class="input-group-addon">to</div>
      <input type="time" class="form-control" id="EndTime" ng-model="vm.spot.mon_end_time" placeholder="6">
    </div>
    <h3>End time</h3>
    <div class="input-group input-daterange">
      <input type="time" class="form-control" id="StartTime" ng-model="vm.spot.mon_start_time" placeholder="8">
      <div class="input-group-addon">to</div>
      <input type="time" class="form-control" id="EndTime" ng-model="vm.spot.mon_end_time" placeholder="6">
    </div>
    <h3>Date</h3>
    <div class="input-group input-daterange">
      <input type="date" class="form-control" id="StartTime"  placeholder="8">
      <div class="input-group-addon">to</div>
      <input type="date" class="form-control" id="EndTime"  placeholder="6">
    </div>
  </div>
</section>