<section>
<div class="page-header">
  <h1>Parking Spots</h1>
</div>
<ng-map default-style="true" center="current-location" zoom="8">
			<info-window id="myInfoWindow">
				<div ng-non-bindable>
					<h6>{{vm.selectedCity.address}}</h6>
					<h6>Number of Spots: {{vm.selectedCity.number_of_space_spot}}</h6>
					<h6>Special Instructions: {{vm.selectedCity.description}}</h6>
				</div>
			</info-window>
			<directions draggable="true" panel="directions-panel" travel-mode="DRIVING"
						origin="{{vm.origin}}" destination="{{vm.destination}}"></directions>
			<marker ng-repeat="spot in vm.spots" position="{{spot.latitude}}, {{spot.longitude}}" id="{{spot.city_name}}" title="{{spot.address}}" on-click="vm.showSpotInfo(event, spot)"></marker>
	</ng-map>
</section>
