@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.controlSocialBanner {
background-color: #DFD18B;
height: 30%;
height: 100%;
position: absolute;
right: 0;
width: 30%;
}

.social-account-container {
display: inline-block;
padding: 0 !important;
position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.center{
  bottom:20%;
  position:relative;
  top:100px;
  width: 70%;
}

.goldButt{
  background-color: #DFD18B !important;
  border-color:#BFB16B !important;
  color:black !important;
}

.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.signinContainer{
  display:flex;
  width:100%;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
