@media (min-width: 992px) {
  .nav-users {
    position: fixed;
  }
}
.social-account-container {
  display: inline-block;
  position: relative;
}
.btn-add-remove-account {
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.user-profile-picture {
  max-height: 150px;
  min-height: 150px;
}
.social-button {
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.social-button:hover {
  opacity: 0.65;
}
.goldButt{background-color: #DFD18B !important; color:black !important;border-color:#BFB16B !important;}
.left {background:#035096; position: absolute; left: 0; top: 0; width: 70%; height: 100%; background-image:url("images/index.jpg"); background-size:100% 100%; vertical-align: middle;}
.left-inner{width: 70%; margin: 0 auto;}
.center{position:absolute; top:20%; bottom:20%;width: 70%}
.right { position: absolute; right: 0; top: 0; width: 30%; height: 100%; background: #DFD18B;}
