
<div class="row" ng-controller="ArticlesController">
  <div class="col-md-offset-1 col-md-4">
    <section>
    <div class="page-header">
      <h1>Add Your Spot</h1>
    </div>
    <form name="listingForm" class="form-horizontal" ng-submit="create(listingForm.$valid)">
          <fieldset>
            <div class="form-group" show-errors>
              <label for="address">Address</label>
              <input name="address" type="text" ng-model="address" id="address" class="form-control" placeholder="Address" required>
              <div ng-messages="listingForm.address.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Address is required</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="city">City</label>
              <input name="city_name" type="text" ng-model="city_name" id="city_name" class="form-control" placeholder="City" required>
              <div ng-messages="listingForm.city_name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">City is required</p>
              </div>
            </div>
            <label for="state">State</label><p></p>
            <select name="State">
              <option value="AL">Alabama</option>
              <option value="AK">Alaska</option>
              <option value="AZ">Arizona</option>
              <option value="AR">Arkansas</option>
              <option value="CA">California</option>
              <option value="CO">Colorado</option>
              <option value="CT">Connecticut</option>
              <option value="DE">Delaware</option>
              <option value="DC">District Of Columbia</option>
              <option value="FL">Florida</option>
              <option value="GA">Georgia</option>
              <option value="HI">Hawaii</option>
              <option value="ID">Idaho</option>
              <option value="IL">Illinois</option>
              <option value="IN">Indiana</option>
              <option value="IA">Iowa</option>
              <option value="KS">Kansas</option>
              <option value="KY">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="ME">Maine</option>
              <option value="MD">Maryland</option>
              <option value="MA">Massachusetts</option>
              <option value="MI">Michigan</option>
              <option value="MN">Minnesota</option>
              <option value="MS">Mississippi</option>
              <option value="MO">Missouri</option>
              <option value="MT">Montana</option>
              <option value="NE">Nebraska</option>
              <option value="NV">Nevada</option>
              <option value="NH">New Hampshire</option>
              <option value="NJ">New Jersey</option>
              <option value="NM">New Mexico</option>
              <option value="NY">New York</option>
              <option value="NC">North Carolina</option>
              <option value="ND">North Dakota</option>
              <option value="OH">Ohio</option>
              <option value="OK">Oklahoma</option>
              <option value="OR">Oregon</option>
              <option value="PA">Pennsylvania</option>
              <option value="RI">Rhode Island</option>
              <option value="SC">South Carolina</option>
              <option value="SD">South Dakota</option>
              <option value="TN">Tennessee</option>
              <option value="TX">Texas</option>
              <option value="UT">Utah</option>
              <option value="VT">Vermont</option>
              <option value="VA">Virginia</option>
              <option value="WA">Washington</option>
              <option value="WV">West Virginia</option>
              <option value="WI">Wisconsin</option>
              <option value="WY">Wyoming</option>
            </select>
            <div class="form-group" show-errors>
              <label for="postal_code">Zip Code</label>
              <input name="postal_code" type="text" ng-model="postal_code" id="postal_code" class="form-control" placeholder="Zip Code" required>
              <div ng-messages="listingForm.postal_code.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Zip Code is required</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="address">Number of Spaces</label>
              <input name="number_of_space_spot" type="text" ng-model="number_of_space_spot" id="number_of_space_spot" class="form-control" placeholder="Number of Spots" required>
              <div ng-messages="listingForm.number_of_space_spot.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Number of spaces is required</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="description">Special Instructions</label>
              <input name="description" type="text" ng-model="description" id="description" class="form-control" placeholder="e.g. Park all the way to the left" required>
              <div ng-messages="listingForm.description.$error" role="alert">
                <!--<p class="help-block error-text" ng-message="required">City is required</p>-->
              </div>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-default">
            </div>
            <div ng-show="error" class="text-danger">
              <strong ng-bind="error"></strong>
            </div>
          </fieldset>
        </form>
      </div>
</section>
</div>
