<!--
  This template will load in the <ui-view> when we start the application.
  Notice the ng-init attribute, which will load the parking spaces from our server on initializing the view.
  -->
<ui-view>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default">
        <ul class="nav navbar-nav navbar-brand col-centered" style="padding-bottom: 7%">
          <li class="col-sm-4"><button type="button" class="btn btn-primary">Add Payment Method</button></li>
          <li class="col-sm-4"><button type="button" class="btn btn-primary">List Payment Method</button></li>
          <li class="col-sm-4"><button type="button" class="btn btn-primary">Delete Payment Method</button></li>
        </ul>
      </nav>
    </div>
  </div>
</ui-view>
