<!--
  This template will load in the <ui-view> when we start the application.
  Notice the ng-init attribute, which will load the parking spaces from our server on initializing the view.
  -->
<ui-view>
  <div class="row">
    <div class="col-md-12 navbar navbar-default" style="padding: 0;">
        <ul class="nav navbar-nav navbar-brand" style="padding: 0 0; margin-top: 3%;">
          <li class="col-sm-4"><button ng-click="changevis()" type="button" class="btn btn-primary">Add Payment Method</button></li>
          <li class="col-sm-4"><button type="button" class="btn btn-primary">List Payment Method</button></li>
          <li class="col-sm-4"><button type="button" class="btn btn-primary">Delete Payment Method</button></li>
        </ul>
    </div>
    <div id="payment" ng-hide="vis">
    <div class="col-md-12 navbar navbar-default" style="padding: 5px;">
        <div id="drop" value={{vm.token.token}}>
          <div id="dropin-container"></div>
          <button class="btn btn-primary" id="submit-button">Request payment method</button>
        </div>
      </div>
    </div>
  </div>
</ui-view>
